:root {
  --main-color: #6c5ce7;
  --secondary-color: #a29bfe;
  --lighter-color: #e0e0e7;
  --light-color: #b0b0c0;
  --dar-color: #52505e;
  --black-color: rgb(26, 26, 26);
  --font-smaller: 14px;
  --font-bigger: -20px;
}
* {
  margin: 0;
  padding: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: var(--dar-color);
  background: var(--black-color);
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.25;
  margin: 0 0 0.5em;
}
img {
  max-width: 100%;
  vertical-align: middle;
}

.container {
  position: absolute;
  left: 23%;
}
.form-box {
  display: flex;
  flex-direction: row;
  margin-top: 5em;
  border: 8px solid var(--light-color);
  border-radius: 15px;
  background-color: var(--light-color);
}
/* progress */
.form-box .progress {
  position: relative;
  padding: 1em;
}
.logo {
  font-size: 1.75em;
  font-weight: 800;
  color: black;
  padding: 40px 48px;
  text-align: center;
}
.logo span {
  color: var(--main-color);
}
/* progress step */
.progress ul.progress-steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.progress ul.progress-steps li {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 2em;
}
.progress ul.progress-steps li > span {
  position: relative;
  width: 40px;
  height: 40px;
  font-size: var(--font-smaller);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
  border-radius: 50%;
  background-color: var(--lighter-color);
  z-index: 1;
}
.progress ul.progress-steps li.active > span {
  color: white;
  background-color: var(--main-color);
  border: 4px solid var(--secondary-color);
  z-index: 1;
}
.progress ul.progress-steps li p span {
  font-size: var(--font-smaller);
  color: var(--dark-color);
  display: block;
}
.progress ul li p {
  display: block;
  position: relative;
  top: auto;
  font-size: inherit;
}
.progress ul.progress-steps li:not(:last-child)::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 30px;
  width: 2px;
  height: 95px;
  background-color: var(--lighter-color);
}

/* form */

.form-box form {
  width: 100%;
  padding: 3em;
  background-color: white;
  border-radius: 30px 30px 15px 15px;
}
form > div {
  max-width: 400px;
  margin: 0 auto;
}
form > div p {
  color: var(--light-color);
  margin-bottom: 2em;
}
form > div > div:not(.checkbox) {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
form :where(input, select) {
  height: 40px;
  padding: 0 1em;
  border-radius: 7px;
  outline-color: var(--secondary-color);
  border: 1px solid var(--lighter-color);
  background-color: transparent;
}
form label {
  font-size: var(--font-smaller);
  margin-bottom: 0.5em;
  font-weight: 600;
}
form .grouping {
  display: flex;
}
form .grouping input {
  max-width: 70px;
  text-align: center;
  margin-right: 1em;
}
form .checkbox input {
  height: auto;
}
form > div:not(.btn-group) {
  display: none;
}
form > div.active {
  display: block;
}

/* button */

.btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 2em;
}
.btn-group [class*="btn-"] {
  background-color: var(--main-color);
  color: white;
  padding: 1em 2.5em;
  border: 4px solid var(--secondary-color);
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, border-color 0.3s ease-out;
  transition: background-color 0.3s, border-color 0.3s ease-out;
}
.btn-group [class*="btn-"]:disabled {
  background-color: var(--light-color);
  border-color: var(--lighter-color);
  cursor: text;
}
.btn-group [class*="btn-"]:hover:not(:disabled) {
  background-color: var(--dar-color);
  border-color: var(--light-color);
}
::placeholder {
  color: var(--light-color);
}

@media screen and (max-width: 768px) {
  *{
    font-size: 16px;
  }
  h1{
    font-size: 17px;
  }
  form label {
    font-size: 16px;
}
  .form-box {
    flex-direction: column;
  }
  form .grouping {
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
  }
  form .grouping input {
    max-width: 100%;
    margin: 0;
  }
  form > div p {
    margin-bottom: 1em;
  }
  form > div > div:not(.checkbox) {
    margin-bottom: 0.5em;
  }
  .form-box .progress {
    flex: 1 0 35%;
    min-width: 300px;
    padding: 0;
  }
  .logo {
    margin: 1.1em;
    padding: 11px;
  }
  .progress ul.progress-steps {
    flex-direction: row;
    gap: 4em;
  }
  .progress ul.progress-steps li:not(:last-child)::before {
    content: "";
    position: absolute;
    left: 30px;
    top: 20px;
    width: 95px;
    height: 2px;
    background-color: var(--lighter-color);
  }
  .progress ul.progress-steps li p span {
    font-size: var(--font-smaller);
    color: var(--dark-color);
    display: none;
  }
  .form-box form {
    padding: 3em;
    border-radius:15px;
  }
  .progress ul li p span {
    display: block;
  }
  .progress ul li p {
    display: none;
  }
  .btn-group [class*="btn-"] {
    background-color: var(--main-color);
    color: white;
    padding: 0.5em 1.5em;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
  }
  .container {
    position: static;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2em;
    box-sizing: border-box
  }
}
